@model WebAppDemo3.Models.ViewModels.SumModel

@{
    ViewBag.Title = "DoSum";
}

<h2>DoSum</h2>

@* @using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.Num1)
    @Html.ValidationMessageFor(m => m.Num1)
    <br />
    @Html.TextBoxFor(m => m.Num2)
    @Html.ValidationMessageFor(m => m.Num2)
    <br />
    @Html.DisplayFor(m => m.Sum)
    <br />

    <input type="submit" value="Submit" />
} *@

<form asp-action="DoSum" method="post" class="mb-3">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Num1" class="form-label"></label>
        <input asp-for="Num1" class="form-control" />
        <span asp-validation-for="Num1" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Num2" class="form-label"></label>
        <input asp-for="Num2" class="form-control" />
        <span asp-validation-for="Num2" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Sum</label>
        <input asp-for="Sum" class="form-control" readonly />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

