
@{
    ViewData["Title"] = "ShowName";
}

@{
    ViewBag.age1 += 1;
    int age2= (int)ViewData["age2"];
    age2 += 1;

    int sal = (int)TempData["salary"];
    sal += 2000;
    for(int i = 1; i <= 5; i++)
    {
        <h2>@i</h2>
    }
}

<h1>Name - @ViewBag.Name</h1>
<h1>City - @ViewData["city"]</h1>
<br />
<h2>Age1 - @ViewBag.age1</h2>
<h2>Age2 - @age2</h2>

<h2>Salary - @sal</h2>

