@model Day56_01_MVC_CRUD.Models.Loan

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow-sm">
    <div class="card-body">
        <h3 class="card-title">Loan Details</h3>
        <hr />
        <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LenderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LenderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSettled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSettled)
        </dd>
    </dl>
        </dl>
        <div class="mt-3">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary me-2">Edit</a>
            <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
        </div>
    </div>
</div>
